body {
    box-sizing: 0;
    margin: 0;
    padding: 0;
  }
  /* Navbar */
  img {
    height: 60px;
  }
  #header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(240, 230, 241);
    padding: 10px 40px;
    box-shadow: 0 5px 12px rgba(216, 192, 219, 0.489);

    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
  }
  #navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
  }
  #navbar li a {
    text-decoration: none;
    font-size: 18px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 600;
    color: rgb(100, 51, 110);
    transition: 0.3s ease;
  }
  #navbar li a:hover,
  #navbar li a.active {
    color: rgb(40, 163, 167);
  }
  #navbar li a.active::after,
  #navbar li a:hover:after {
    content: "";
    position: absolute;
    width: 35%;
    height: 3px;
    bottom: -4px;
    left: 20px;
    background-color: rgb(40, 112, 114);
    transition: 0.3s ease;
  }
  
  
  #close{
    display: none;
  }
  #mobile{
    display: none;
    align-items: center;
  }
  
  /* Main page */
  
  #main{
    background-image: url("/images/shop/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height:40vh;
    background-size: cover;

  }
  .main{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
   color: white;
  }

  .main h2{
    font-size: 29px;
    margin-bottom: 5px;
    font-weight: 400;

  }

  .main p{
    margin-top: 7px;
    font-size: 15px;
    font-weight: 100;
    color: #9997a0;

  }
  
  /* Products */
  
  .pro {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 60px 40px;
  }
  
  .pro_container {
    width: 15%;
    margin: 20px 30px;
    text-align: center;
    min-width: 200px;
    height:min-content;
   
    padding: 10px 12px;
    border: 2px solid rgb(185, 185, 177);
    box-shadow: 5px 5px 25px rgb(177, 171, 177);
    border-radius: 5px;
    position: relative;
  }
  
  .pro_container:hover {
    box-shadow: 5px 5px 15px rgb(155, 145, 155);
  }
  #products h2 {
    font-size: 39px;
    margin-bottom: 2px;
    color: rgb(10, 12, 11);
    text-align: center;
  }
  #products p {
    color: rgb(116, 118, 118);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .pro_container .star {
    color: #d57425;
    padding: 3px;
  }
  .pro_container img {
    width: 100%;
    height: 70%;
    border-radius: 5px;
    padding-bottom: 4px;
  }
  .pro_container .des {
    padding: 3px;
    text-align: left;
  }
  
  .des span {
    color: rgb(78, 83, 81);
    font-size: 13px;
    margin: 5px;
  }
  .des h5 {
    margin: 2px 5px;
    padding-left: 0;
    font-size: 14px;
  }
  
  .star + h5 {
    color: rgb(41, 127, 97);
    margin-bottom: 5px;
  }
  
  .add_cart i {
    font-size: 17px;
    color: rgb(10, 166, 148);
    right: 14px;
    padding: 12px;
    bottom: 15px;
    background-color: #cbe2dc;
    border-radius: 40px;
    position: absolute;
  }
  
  
 
  /* pagination */

  #pagination{
    /* display: flex;
    justify-content: center;
    
   */
   text-align: center;
  }
  #pagination a{
    text-decoration: none;
    color: white;
    padding:5px 10px;
    font-size: 18px;
    background-color: rgb(119, 20, 98);
    margin-right: 10px;
    border-radius: 19px;
  }
  
  .pagination a i{
    font-size: 20px;
    font-weight: 600;
  }
  
  /* Newsletter */
  
  #NewsL {
    background-image: url(/images/banner2.png);
    height: 20vh;
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  .NewsL_box h3 {
    font-size: 25px;
    margin: 2px;
  }
  
  .NewsL_box h6 {
    font-size: 15px;
    margin: 2px;
    color: rgb(223, 229, 234);
  }
  .NewsL_box1 {
    display: flex;
  }
  #NewsL input {
    padding: 7px 10px;
    border-radius: 3px;
    border: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    outline: none;
  }
  #NewsL button {
    background-color: #181320;
    padding: 7.5px 10px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  /* Footer */
  
  #footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
  }
  
  #footer .col li,
  #footer .col a {
    list-style: none;
    text-decoration: none;
    color: #837c7c;
    padding: 3px 0;
  }
  .col1 p + h3 {
    font-size: 16px;
    margin-top: 40px;
  }
  
  #footer .follow i {
    padding: 0 2px;
    font-size: 19px;
    cursor: pointer;
  }
  
  #footer .follow i:nth-child(1):hover {
    color: rgb(216, 37, 130);
  }
  
  #footer .follow i:nth-child(2):hover {
    color: rgb(17, 98, 148);
  }
  
  #footer .follow i:nth-child(3):hover {
    color: rgb(202, 31, 31);
  }
  
  #footer .follow i:nth-child(4):hover {
    color: rgb(31, 173, 202);
  }
  
  #footer .follow i:nth-child(5):hover {
    color: rgb(180, 21, 21);
  }
  
  #footer h2 .copyr {
    display: flex;
    flex-direction: column;
  }
  .copyr {
    text-align: center;
    color: purple;
    font-size: 10px;
  }
  #footer .col1 p span {
    color: #535256;
    font-weight: 700;
  }
  
  
  /*  Media queries */
  @media (max-width:770px) {
    #navbar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color:white;
      height:100vh;
      position: fixed;
      width: 200px;
      right:-350px;
      top:0;
      margin: 0;
      padding:80px 0 0 10px;
      transition: 0.3s;
  
  }
  
  #navbar li{
    margin-bottom: 20px;
    
  }
  #main {
    background-image: url("/images/shop/banner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    max-height: 25vh;
    justify-content: center;
    background-size: cover;
}
  
  #mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(100, 51, 110);
   
  }
  #mobile a{
    color: rgb(100, 51, 110);
  }
  #mobile i{
    padding: 8px;
    font-size: 20px;
  }
  #bag{
    display: none;
  }
  
  #navbar.active{
    right:0px;
  }
  
  #close  {
    position: absolute;
    display: initial;
    top: 30px;
    left:30px;
    font-size: 25px;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-position: top 30% right 50%;
    
  }
  
  .main h2{
    font-size: 38px;
    margin-bottom: 5px;
    font-weight: 400;

  }

  .main p{
    margin-top: 7px;
    font-size: 20px;
    font-weight: 100;
    color: #9997a0;

  }
  
  .pro {
    display: flex;
    justify-content: center;
    margin: 60px 40px;
  }
  
  .pro_container {
    width: 35%;
    
   
  }
  
  
  
  }
  @media (max-width:450px) {
  
  
    #header {
      
      padding: 10px 20px;
      box-shadow: 0 5px 12px rgb(216, 192, 219);
     
  }
  
    #banner1 {
      
      margin-top: 20px;
      margin-bottom: 20px;
  }
    #banner1 .box1{
     min-width: 315px;
     height: max-content;
    
  }
  #banner .box2{
    min-width: 300px;
  }
  
  #feature {
    display: flex;
    margin: 20px 10px;
    justify-content: center;
  }
  
  #feature .f_box {
    width: 115px;
    margin: 5px 10px;
    height: 100px;
    padding: 15px 15px;
  }
  
  .f_box img {
    width: 100px;
    height: 70px;
  }
  
  #footer .col1 h3,p{
   
    margin-left: 12px;
  }
  
  
  #main {
    
    height: 70vh;
  
  }
  
  
  .main {
    padding: 0 25px;
  }
  #main h2 {
    margin: 0;
    font-size: 30px;
  }
  
  .pro {
  
  
    margin: 20px 10px;
  }
  }
  